<h1>Booking Portal</h1>
<h2>Hello, <%= @user %></h2>
<div class="flash"><%= flash[:notice] %></div>
<% if @bookings.count > 0 %>
  <ul>
    <% @bookings.each do |booking| %>
       <li><%= booking.title %></li>
    <% end %>
  </ul>
  <% else %>
    You currently have no active bookings
<% end %>
<div>
  <a href="/new-booking">Request New Booking</a>
</div>
