<h1>Booking Portal</h1>
<div class="sign-in">
  Existing Users - Sign In
  <form class="sign-in-form" action="/sign-in" method="post">
    <p><input type="email" name="email address" placeholder="email address" size="40">
    <input type="password" name="password" placeholder="password"></p>
    <input class="btn" type="submit" name="Submit" value="submit">
  </form>
  <a href="/sign-up">New Users Register</a>
  <div class="flash"><%= flash[:notice] %></div>

</div>
