<h1>Centre17</h1>
<h2>Booking Portal</h2>
<div class="sign-in">
  Existing Users - Sign In
  <div><%= flash[:notice] %></div>
  <form class="sign-in-form" action="/signin" method="post">
    <input type="text" name="email address" placeholder="email address">
    <input type="password" name="password" placeholder="password">
    <input type="submit" name="Submit" value="submit">
  </form>
  <a href="/signup">New Users Register</a>

</div>
