<head>
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="style.css" type="text/css" />
</head>


<div class="banner">
  <strong>CENTR</strong>E17
</div>

<%= yield %>
