Select date to search from
<form class="" action="/searchbooking" method="post">
  <input type="date" name="date">Date
  <input type="number" name="duration">Duration
  <input type="submit" value="Start search">
</form>
