a {
  text-decoration: none;
}
.banner a{
  color: white;
}
.banner {
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding-left: 20px;
  background: #a90329;
  background: -moz-linear-gradient(-40deg, #e52325 0%, #f05a29 78%, #f9a65d 78%);
  background: -webkit-linear-gradient(-40deg, #e52325 0%, #f05a29 78%, #f9a65d 78%);
  background: linear-gradient(135deg, #e52325 0%, #f05a29 78%, #f9a65d 78%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#f2ad00',GradientType=1 );
}

.header {
  font-size: 60px;
  text-align: left;
}

.footer {
  height: 20px;
  font-size: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

body{
  font-family: 'Archivo Narrow', sans-serif;
  margin: auto;
  text-align: center;
  font-size: 115%;
}

.btn {
  background: #a90329;
  background-image: -webkit-linear-gradient(top, #a90329, #8f0222);
  background-image: -moz-linear-gradient(top, #a90329, #8f0222);
  background-image: -ms-linear-gradient(top, #a90329, #8f0222);
  background-image: -o-linear-gradient(top, #a90329, #8f0222);
  background-image: linear-gradient(to bottom, #a90329, #8f0222);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  border-width: 0;
  color: #ffffff;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 18px;
  padding: 6px 10px 6px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #EA5900;
  background-image: -webkit-linear-gradient(top, #EA5900, #8f0222);
  background-image: -moz-linear-gradient(top, #EA5900, #8f0222);
  background-image: -ms-linear-gradient(top, #EA5900, #8f0222);
  background-image: -o-linear-gradient(top, #EA5900, #8f0222);
  background-image: linear-gradient(to bottom, #EA5900, #8f0222);
  text-decoration: none;
}

.flash {
  color: red;
  font-style: italic;
}

.table{
   display: inline-table;
   width: 80%;
}
.table-row {
  border: 1px solid #e3e3e3;
	display: table-row;
}
.table-cell {
	display: table-cell;
	padding: 30px 6px 30px 6px;
  vertical-align: top;
}
.table-body {
	display: table-row-group;
}

.event {
  color: white;
  background-color: #EA5900;
  padding: 0px 5px 0px 5px;
}
