<h2>Search for availability</h2>
<form class="" action="/new-booking" method="post">
  <p>
    Date from <input type="date" name="date">
  </p>
  <p>
    Starting time
    <input type="checkbox" name="morning"> Morning (8am-12pm)
    <input type="checkbox" name="afternoon"> Afternoon (1pm-5pm)
    <input type="checkbox" name="evening">Evening (6pm-11pm)
  </p>
  <p>
    Duration <input type="number" name="duration" max="16" style="width: 35px"> hours
  </p>
  <p><input class="btn" type="submit" value="Start search"></p>
</form>
